* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    color: whitesmoke;
}

.col {
    column-count: 2;
    column-width: 50%;
    column-gap: 2rem;
    padding-top: 5px;
    margin-top: auto;
}

.separte {
    columns: 2 3rem;

}