/* Universal Selectors */
* {
    font-family: 'Times New Roman', Times, serif;
}

/* Element Selectors */
title {
    font-size: larger;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

/* Attribute Selectors */
ol[type="b" s] {
    color: "red";
}

ol[type="I" s] {
    color: limegreen;
}

ol[type="A"] {
    color: blue;
}

ol[type="I" i] {
    color: yellow;
}

li:first-of-type+li+li {
    color: red;
}
/* Adjcent Sibiling Combinators */

h1+p {
    color: aqua;
}


span {
    background-color: olivedrab;
}

/* Chid Combinators */
div>span {
    background-color: teal;
}
/* class Selectors */
.para {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}

h4 {
    text-decoration-line: underline overline;
    text-decoration-color: teal;
}

h3 {
    text-decoration-line: overline;
    text-decoration-color: orange;
}

h2 {
    text-decoration-line: line-through;
    text-decoration-color: aqua;
}

h1 {
    color: teal;
}

a[href="https://para.com"] {
    color: brown;
}

a[href^="#"] {
    color: aqua;
}

a[href$=".org"] {
    color: tan;
}

a[href*="google"] {
    color: tomato;
}

a[href*="CaSe" i] {
    color: blueviolet;
}

a[href*="COCO" s] {
    color: olive;
}

a[href^="https"][href$=".in"] {
    color: teal;
}


img[class=m_para] {
    width: 20px;
    height: 20px;
}

ol[type="A" s] {
    background-color: red;
    list-style-type: lower-alpha;
}

ol[type="B" s] {
    background-color: green;
    list-style-type: upper-alpha;
}

ol[type="B" s] {
    background-color: yellow;
    list-style-type: square;
}

ol[type="c" i] {
    background-color: aqua;
    list-style-type: upper-alpha;
}

div[lang] {
    font-weight: bold;
    color: brown;
}

div:not[lang] {
    font-style: italic;
}

div[lang~="en-us"] {
    color: orange;
}

div[lang="pt"] {
    color: palevioletred;
}

div[lang|="zh"] {
    color: #098;
}

div[data-lang="zh-TW"] {
    color: khaki;
}

.remandem {
    display: flex;
    border: 2px dashed green;
    font-size: 2 rem;
    padding: 0.5em;
}

/* Pseudo-elements */

p::first-line {
    color: red;
    font-weight: bold;
}

p::first-letter {
    color: teal;
}

p.para::first-letter {
    color: yellow;
}

::marker {
    color: brown;
}

h2::selection {
    color: green;
    background-color: rosybrown;
}

h1::after {
    content: url(https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=300);
}

/* Pseudo-classes */

p:first-child {
    color: red;
}

a:link {
    color: rebeccapurple;
}

a:visited {
    color: pink;
}

a:hover {
    color: olivedrab;
}

a:active {
    color: salmon;
}

a.para:hover {
    font-size: 20px;
    color: sienna;
}

p:hover {
    color: orange;
}

p:last-child {
    color: khaki;
}

p i:first-child {
    color: blue;
}

li:nth-child(2) {
    border: 2px solid green;
}