body {
    background-color: bisque;
}

.container {
    display: grid;

    /* grid-template-columns: 30% 30% 30%; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 2fr 1fr;
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-columns: minmax(200px,1fr) 1fr 1fr; */
    /* column-gap:20px; */
    /* row-gap:20px; */
    gap: 20px;
}

.para {
    padding: 1 rem;
    background-color: teal;
    color: white;
}

.con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    gap: 20px;
}

.par {
    padding: 1 rem;
    background-color: olivedrab;
    color: white;
}

.outerbox {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 100px 200px;
    gap: 20px;
    /* grid-auto-flow: row; */
    /* grid-auto-rows:150px;  */
    /* align-items: end; */
    /* justify-content: stretch;  */



}

.box {
    background-color: plum;
    color: red;
    font-size: 4 rem;
    display: grid;
    justify-content: center;
    align-items: center;

}

.box1 {

    /* grid-column-start: 1; 
     grid-column-end: 4; */
    /* grid-column: 1/3; */
    grid-column: span 3;
    /* justify-self:center; */
}

.box2 {
    /* grid-row: span 2; */
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
        "h h h"
        "sb1 m sb2"
        "f f f";

}

.header {
    grid-area: h;
}

.side1 {
    grid-area: sb1;
}

.main {
    grid-area: m;
}

.side2 {
    grid-area: sb2;
}

.footer {
    grid-area: f;
}

.layout div {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: olivedrab;
    font-family: Verdana;
    font-size: 2 rem;
}